/* CSS for return_data.html */
/* body design */
body {
  background-color: #f4f4f4;
  color: #232b3d;
  font-family: Arial, sans-serif;
}

/* tag design */
h1 {
  margin-top: 30px;
}

h3 {
  text-align: center;
  font-size: 18px;
}
a {
    color: inherit;
    text-decoration: none;
}

/* Form design */
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 500px;
  padding: 30px;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
  background-color: #fff;
}

form label {
  font-size: 18px;
  margin-bottom: 10px;
  color: #232b3d;
  text-align: left;
}

form input[type="text"] {
  font-size: 16px;
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  border-radius: 5px;
  background-color: #e1e4e9;
  color: #232b3d;
  width: 100%;
}

form input[type="submit"] {
  font-size: 18px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #232b3d;
  color: #fff;
  cursor: pointer;
}

form input[type="submit"]:hover {
  background-color: #0c0e12;
}

.return-data-content {
  margin-top: 30px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.return-data-results {
  margin-top: 20px;
  font-size: 16px;
}

.return-data-results p {
  margin-bottom: 10px;
}

/* header design */
.header {
  background-color: #357edd;
  padding: 10px;
  display: flex;
  align-items: center;
}

.header-left {
  float: left;
  flex-grow: 1;
}

.header-left h1 {
  color: #fff;
  margin: 0;
}

.header-right {
  float: right;
  display: flex;
  align-items: center;
}

.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav li {
  display: inline-block;
  margin-right: 10px;
}

.nav li a {
  color: #fff;
  text-decoration: none;
}


.checkbox-group {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.checkbox-group label {
  margin-right: 10px;
}
